.mainPage--section {
    text-align: center;
    text-shadow: 3px 3px 3px $background-theme;

    h2 {
        color: $text-theme;
        font-size: 3.2em;
        margin-top: 5%;
        font-family: 'Dancing Script', cursive;
    }

}

.historique {
    text-align: end;
    display: none;

    .historique_btn {
        cursor: pointer;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.774);
        margin-top: 1%;
        margin-right: 1%;
        font-size: 1.5em;
        border-color: rgb(255, 255, 255);
        border-radius: 10px;
        background-color: rgba(129, 172, 253, 0.705);

        &:hover {
            background-color: rgb(78, 136, 243);
            border-color: cornflowerblue;
        }
    }
}

.list {
    width: auto;
    margin: auto;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-theme;
        margin-bottom: 5%;
        font-size: 1.5em;
    }

    img {
        max-width: 95%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);

        &:hover {
            opacity: 0.9;
        }
    }

    .labels {
        width: 95%;
        background-color: $background-theme;
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);

        p {
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 6%;
            margin-right: 6%;
        }

    }
}

@media only screen and (min-width: 530px) {

    .list .labels {
        flex-direction: initial;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 425px) {
    .mainPage--section{
        h2 {
          font-size: 2.5em;
        }
    }
    .historique {
        .historique_btn {
            font-size: 1em;
            margin-right: 3%;
            margin-top: 3%;
        }
    }

}

@media only screen and (min-width: 1000px) {

    .mainPage--section h2 {
        font-size: 4.2em;
    }

    .list {
        img {
            width: 70%;
        }

        .labels {
            width: 70%;
            flex-direction: initial;
            justify-content: space-between;
        }
    }
}