.mainPage--section {
    text-align: center;
    text-shadow: 3px 3px 3px $background-theme;

    h2 {
        color: $text-theme;
        font-size: 3.2em;
        margin-top: 5%;
        font-family: 'Dancing Script', cursive;
    }
}

.list {
    width: auto;
    margin: auto;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $text-theme;
        margin-bottom: 5%;
        font-size: 1.5em;
    }

    img {
        max-width: 95%;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);

        &:hover {
            opacity: 0.9;
        }
    }

    .labels {
        width: 95%;
        background-color: $background-theme;
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);

        p {
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 6%;
            margin-right: 6%;
        }

    }
}

@media only screen and (min-width: 530px) {

    .list .labels {
        flex-direction: initial;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1000px) {
    
    .mainPage--section h2 {
        font-size: 4.2em;
    }

    .list {
        img {
            width: 70%;
        }

        .labels {
            width: 70%;
            flex-direction: initial;
            justify-content: space-between;
        }
    }
}