.pannier-title {
    font-size: 2em;
    color: $text-theme;
    text-align: center;
}

.products-resume {
    margin-bottom: 5%;
    text-align: end;
}

.resume_box {
    @include theme;
    margin-top: 5%;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1em;
    box-shadow: 3px 3px 3px black;

    p {
        margin: auto;
        font-size: 25px;
        text-shadow: 3px 3px 3px black;
    }

    img {
        margin: 1%;
        width: 45%;
        border: 1px solid $text-theme;
        border-radius: 25px;
    }

    .count {
        font-size: 30px;
        font-family: sans-serif;
        color: rgb(209, 205, 205);
    }

    .item-infos {
        text-align: center;
        width: 50%;
    }
}

.remove-item {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 60%;
    width: 40%;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: rgb(255, 35, 35);

    &:hover {
        background-color: rgb(228, 27, 27);
        box-shadow: 3px 3px 3px black;
    }
}

.total {
    display: flex;
    width: 90%;
    margin: auto;
    border-top: 1px solid $text-theme;
    background-color: rgba(0, 0, 0, 0.808);
    box-shadow: 3px 3px 3px black;

    .total_title {
        width: 50%;
        margin: auto;
        color: $text-theme;
        font-size: 2.1em;
        text-align: center;

    }

    .total_price {
        color: $text-theme;
        font-size: 2.1em;
        width: 50%;
        text-align: center;
    }
}

.form_title {
    color: $text-theme;
    text-align: center;
    font-size: 4em;
    margin: 5%;
    border-bottom: 1px solid white;
    font-family: 'Dancing Script', cursive;
}

.form_order {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-theme;
    font-size: 2em;

    input {
        width: 80%;
        border-radius: 5px;
        margin-bottom: 5%;
        font-size: 1.2em;
        border: black;
        @include theme;
        box-shadow: 3px 3px 3px black;
        text-shadow: 3px 3px 3px black;
    }

    textarea {
        font-size: 1.2em;
        border-radius: 5px;
        border: black;
        width: 80%;
        @include theme;
        margin-bottom: 5%;
        box-shadow: 3px 3px 3px black;
        text-shadow: 3px 3px 3px black;
    }

    .form_order-submit {
        cursor: pointer;
        color: $text-theme;
        background-color: rgba(57, 226, 57, 0.603);
        font-size: 1.5em;
        border-radius: 5px;
        border-radius: 20px;
        margin: auto;
        box-shadow: 3px 3px 3px black;
        text-shadow: 3px 3px 3px black;
    }

}

@media only screen and (min-width: 1180px) {
    .pannier-title {
        font-size: 4em;
        font-family: 'Dancing Script', cursive;
    }
    .resume_box {
        img {
            width: 15%;
        }

        .item-infos {
            display: contents;
        }
    }
    .remove-item {
        position: absolute;
        width: 20%;
        left: 80%;
    }

}